 body{
font-family:"Arial";
}

label{
color:green;
font-size:14px;
}

img{
display:block;
margin-left:auto;
margin-right:auto;
height:80px;
width:80px;
border-radius:60%;
}

.led_title{
 text-align:center;
 color:green;
}

.led_name{
float:left;
padding:5px;
font-weight:bold;
}

.led_period{
float:right;
padding:5px;
font-weight:bold;
}
.form_container{
margin:auto;
width:250px;
border-radius:10px;
padding:30px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_container:hover{
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_input{
height:25px;
width:220px;
margin-top:10px;
font-size:18px;
padding:10px;
}

.submit_button{
padding:10px;
background-color:orange;
color:white;
outline:none;
border:none;
border-radius:5px;
font-size:18px;
height:50px;
width:150px;
margin-top:20px;
}

.submit_button:hover{
background-color:green;
}

table,th,td{
border-collapse:collapse;
border:1px solid black;
}

th,td{
padding:10px;
text-align:left;
}

table{
width:100%;
}

th{
background-color:orange;
color:white;
}

td{
color:green;
}